@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}


.footer{
  position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}